#testimonial-form, #contact-form {
	position:relative;
	vertical-align:top;
	width:100%;
	z-index:1;
}
	#testimonial-form fieldset, #contact-form fieldset {border:none; padding:0; width:100%; overflow:hidden;}
		#testimonial-form label, #contact-form label  {display:block; min-height:50px; position:relative;}
			#testimonial-form .message, #contact-form .message{min-height:163px;}
			#testimonial-form input, #testimonial-form textarea, #contact-form input, #contact-form textarea {
				padding:9px 8px;
				margin:0;
				font: 12px Arial, Helvetica, sans-serif;
				color:#7b8f9e;
				background: #fff;
				outline:none;
				border:1px solid #e8e8e8;
				width:292px;
				box-shadow:inset 0px 0px 46px rgba(0,0,0,.06);
				-moz-box-shadow:inset 0px 0px 46px rgba(0,0,0,.06);
				-webkit-box-shadow:inset 0px 0px 46px rgba(0,0,0,.06);
			}
			#testimonial-form textarea, #contact-form textarea  {
				height:115px;
				resize:none;
				overflow:auto;
			}
			#contact-form .area .error {float:none;}
			#contact-form .success {display:none; margin-bottom:15px;}
			#contact-form .error,
			#contact-form .empty {
				color:#f00;
				font-size:11px;
				line-height:14px;
				display:none;
				overflow:hidden;
				margin-bottom:5px;
			}
.buttons-wrapper{position:relative;}
.buttons-wrapper a {cursor:pointer;}
	.buttons-wrapper a[data-type="reset"]{margin-right:19px;}
#testimonial-form .buttons-wrapper a {cursor:pointer; min-width:51px; text-align:center;}
	#testimonial-form .buttons-wrapper a[data-type="reset"]{margin-right:25px;}

@media only screen and (max-width: 995px) {
	#testimonial-form input, #testimonial-form textarea, #contact-form input, #contact-form textarea {width:228px;}
}
@media only screen and (max-width: 767px){
	#testimonial-form input, #testimonial-form textarea, #contact-form input, #contact-form textarea {width:402px;}
}
@media only screen and (max-width: 479px){
	#testimonial-form input, #testimonial-form textarea, #contact-form input, #contact-form textarea  {width:282px;}
}